<div class="flex items-center justify-between border-b-2 border-gray-200">
    <h1 class="items-start text-right text-xl font-bold uppercase">
        Form {{ this.action }} Permission
    </h1>
    <button mat-icon-button (click)="closeDialog()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<form [formGroup]="form" (submit)="doAction()" autocomplete="off">
    <mat-dialog-content class="px-0">
        <div class="gt-xs:flex-row flex">
            <mat-form-field class="custom-input-height flex-auto capitalize"
                ><mat-label>Permision Name</mat-label>
                <input
                    matInput
                    #name
                    hideRequiredMarker="true"
                    formControlName="name"
                    [placeholder]="'Permission..'"
                    trim="blur"
                    cdkFocusInitial
                    value="{{ this.local_data.name }}"
                />
                <mat-error
                    *ngIf="f['name'].errors && f['name'].errors['required']"
                >
                    You must enter a value
                </mat-error>
                <mat-error
                    *ngIf="f['name'].errors && f['name'].errors['minlength']"
                >
                    Min 5 Character
                </mat-error>
                <mat-error
                    *ngIf="
                        f['name'].errors && f['name'].errors['alreadyExists']
                    "
                >
                    The name already exist
                </mat-error>
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button
            mat-raised-button
            type="reset"
            color="warn"
            (click)="closeDialog()"
        >
            <mat-icon>cancel</mat-icon>
            CANCEL
        </button>
        <button
            class="ml-6"
            mat-raised-button
            color="primary"
            type="submit"
            cdkFocusInitial
        >
            <mat-icon>save</mat-icon>
            SUBMIT
        </button>
    </mat-dialog-actions>
</form>
