<div class="flex min-w-0 flex-auto flex-col items-center bg-gradient-to-t from-blue-100 via-white to-red-50 sm:justify-center">
    <div class="w-full px-4 py-8 sm:bg-card sm:w-auto sm:rounded-2xl sm:p-12 sm:shadow">
        <div class="mx-auto w-full max-w-80 sm:mx-0 sm:w-80">
            <div class="flex w-full justify-center">
                <img src="images/logo/logo_small.png" class="max-w-42" />
            </div>

            <h4 class="mt-4 font-sans text-2xl font-bold leading-snug tracking-normal text-blue-600 antialiased">
                Ubah Password
            </h4>
            <h3 class="mt-1 font-sans text-md font-normal text-gray-700">
                Anda harus mengubah password sebelum melanjutkan
            </h3>

            @if (showAlert) {
                <p-message class="mt-8" [severity]="alert.type" [text]="alert.message"></p-message>
            }

            <form class="mt-8" [formGroup]="changePasswordForm" #changePasswordNgForm="ngForm" novalidate>
                <mat-form-field class="w-full">
                    <mat-label>Password Saat Ini</mat-label>
                    <input id="currentPassword" matInput type="password" [formControlName]="'currentPassword'" />
                    <mat-error> Password saat ini wajib diisi </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Password Baru</mat-label>
                    <input id="newPassword" matInput type="password" [formControlName]="'newPassword'" />
                    <mat-error> Password baru minimal 8 karakter </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Konfirmasi Password Baru</mat-label>
                    <input id="confirmPassword" matInput type="password" [formControlName]="'confirmPassword'" />
                    <mat-error> Konfirmasi password wajib diisi </mat-error>
                </mat-form-field>

                <button class="fuse-mat-button-large mt-6 w-full" mat-flat-button [color]="'primary'"
                    [disabled]="changePasswordForm.disabled" (click)="changePassword()">
                    @if (!changePasswordForm.disabled) {
                        <span> Simpan </span>
                    }
                    @if (changePasswordForm.disabled) {
                        <mat-progress-spinner [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                    }
                </button>
            </form>
        </div>
    </div>
</div>
